# Dependencies
node_modules
.pnpm-store

# Next.js build output
.next
out

# Testing
coverage
tests
*.test.ts
*.test.tsx
*.spec.ts
*.spec.tsx

# Misc
.git
.gitignore
*.md
.env*
!.env.example

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose*.yml
.dockerignore

# Biome
.biome.json